* {
  margin: 0;
  padding: 0;
}
header {
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(224, 36, 51, 1);
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #dadbdc;
}

header img {
  margin: 5px 10px 5px 20px;
  height: 30px;
  display: inline-block;
}

header span {
  flex: 1
}

main {
  border-top: 1px solid #eaecef;
}

main,
iframe {
	min-height: 1000px;
	width: 100%;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 100px 0;
}

section img {
  margin-left: 100px;
  animation: beat 1s infinite alternate;
}

section h1 {
  overflow: visible;
  font-style: normal;
  font-size: 90px;
  color: rgba(0, 0, 0, 1);
  font-family: Helvetica Neue;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}